<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchList</title>
    <link rel="stylesheet" href= "style.css" >

</head>
<body>
    <header>
        <div class="header-contents">
            <h1>Find your film</h1>
            <a href="watchlist.html" class="header-link">My Watchlist</a>
        </div>
        <div class="logo-container">
            <img class="logo" src="" alt="logo">
           </div>
      <nav>
        <ul class="nav-links">
            <li class="nav-items"><a href="#" class="active">Search</a></li>
            <li class="nav-items"><a href="#">WatchList</a></li>
            <li class="nav-items"><a href="#">Popular</a></li>
        </ul>
      </nav>
    </header>


    <main>
    <div class="main-search-field">
        <label aria-label="Search for a movie" class="hide">Search for a
            movie: </label>
            <div class="box-search">
                <input type="text" for="submit" id="searchInput" placeholder="Search for a movie">
                <button type="submit" value="Submit" id="searchBtn">Search</button>
            </div>
    </div>
</main>
    
</body>
</html>