<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchList</title>
    <link rel="stylesheet" type="text/css" href= "/styles/style.css" >

</head>
<body>
    <header>
     <div class="inner-flex">
       <img class="logo" src="/images/logo.svg" alt="logo">
      <nav>
        <ul class="nav-links">
            <li><a href="#" class="active">Search</a></li>
            <li><a href="#">WatchList</a></li>
            <li><a href="#">Popular</a></li>
        </ul>
      </nav>
    </header>
        <section>
        <div class="header-contents">
            <h1>Find your film</h1>
            <a href="watchlist.html" class="header-link">My Watchlist</a>
        </div>
    </section>


    <main>
    <div class="main-search-field">
        <label aria-label="Search for a movie" class="hide">Search for a
            movie: </label>
            <div class="box-search">
                <input type="text" for="submit" id="searchInput" placeholder="Search for a movie">
                <button type="submit" value="Submit" id="searchBtn">Search</button>
            </div>
    </div>
</main>
    
</body>
</html>