<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchList</title>
    <link rel="stylesheet" href= "style.css" >
    <script src="https://kit.fontawesome.com/2c9680051d.js" crossorigin="anonymous"></script>

</head>
<body>
    
    <header>
        <nav>

            <div class="box-1">
                <div class="logo">
                    <h1>Logo</h1>
                </div>
                <ul class="nav-links">
                    <li class="nav-items"><a href="#">WatchList</a></li>
                    <li class="nav-items"><a href="#">Popular</a></li>
                </ul>
      </nav>
    </header>

    <main>
    <div class="main-search-field">
        <label aria-label="Search for a movie" class="hide">Search for a
            movie: </label>
            <div class="box-search">
                <input type="text" for="submit" id="searchInput" placeholder="Search for a movie">
                <button type="submit" value="Submit" id="searchBtn">
                <i class="search-icon fa-solid fa-magnifying-glass"></i>
            </button>
            </div>
    </div>
</main>
    
</body>
</html>