@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,800&display=swap');

body {
    background: rgb(10, 2, 36);
    margin: 0;
    font-family:"Work Sans", sans-serif;
}
a {
    text-decoration: none;
    color: black;
}


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.725), rgba(0, 0, 0, 0.725)), url('https://images.wallpapersden.com/image/download/avatar-the-way-of-water-2-hd_bWhobWeUmZqaraWkpJRmbmdlrWZlbWU.jpg');
    background-size: cover;
    background-position: center 21%;  
    padding: 100px 50px;
}

.header-contents{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 550px;
    color: whitesmoke;
}
.header-link{
    text-decoration: none;
    color: whitesmoke;
}
.hide{
    margin-right: 10px;
    margin-top: 5px;
    font-size: 20px;
    color: whitesmoke;
}

.main-search-field {
    display: flex;
    margin: 0 auto;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    width: 600px;

}
.main-search-field input {
    border: 1px solid gray;
    color: whitesmoke;
    font-size: 1em;
    padding: 10px 40px;
    border-radius: 10px 0 0 10px ;
    background: none;
    border: 2px solid rgb(44, 107, 183);
}
.main-search-field button {
    border: 1px solid rgb(44, 107, 183);
    color: whitesmoke;
    font-size: 1em;
    padding: 10px 40px;
    cursor: pointer;
    transition: 0.5s;
    background: rgb(44, 107, 183);
    
}
.main-search-field button:hover{
    background:rgb(44, 107, 183);
    border-radius: 0 10px 10px 0 ;
    color: whitesmoke;
}
.box-search{
    display: flex;
    box-shadow: 3px 3px 4px rgba(128, 128, 128, 0.132);
}
nav{
    display: flex;
    
}
.nav-links{
    list-style: none;
    display: flex;
    
}
.nav-items {
    margin: 0 10px;


}
